{% extends "base.html" %}

{% block title %}Login - WeatherTech{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center">Iniciar Sessió</h3>
                    {% if error_message %}
                        <div class="alert alert-danger" role="alert">
                            {{ error_message }}
                        </div>
                    {% endif %}
                    <form action="/login" method="post">
                        <div class="mb-3">
                            <label for="username" class="form-label">Correu electrònic:</label>
                            <input type="email" class="form-control" id="username" name="username" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Contrasenya:</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary">Iniciar sessió</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="text-center mt-3">
                <a href="/signup">No tens un compte? Registra't</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}