{% extends "base.html" %}

{% block title %}Registre - VAC{% endblock %}

{% block content %}
    <section>
        <h1>Registra't</h1>
        <p>Les dades que ens facilites seran tractades per VAC, amb seu a [adreça], per gestionar el teu compte i prestar-te el servei sol·licitat. Les conservarem mentre el teu compte estigui actiu i podràs exercir els teus drets d'accés, rectificació o supressió enviant un correu a <a href="mailto:info@vacfranca.com">info@vacfranca.com</a>.</p>
        {% if error_message %}
            <p class="error-message">{{ error_message }}</p>
        {% endif %}
        <form action="/signup/" method="post">
            <label for="nom">Nom:</label>
            <input type="text" id="nom" name="nom" required>
            <label for="cognoms">Cognoms:</label>
            <input type="text" id="cognoms" name="cognoms" required>
            <label for="correu_electronic">Correu electrònic:</label>
            <input type="email" id="correu_electronic" name="correu_electronic" required>
            <label for="contrasenya">Contrasenya:</label>
            <input type="password" id="contrasenya" name="contrasenya" required>
            <label for="confirmar_contrasenya">Confirmar contrasenya:</label>
            <input type="password" id="confirmar_contrasenya" name="confirmar_contrasenya" required>
            <label class="checkbox-label">
                <input type="checkbox" name="acceptar_privacitat" required>
                Accepto la <a href="nueva_politica_privacidad.html" >política de privacitat</a> i el tractament de les meves dades tal com es descriu.
            </label>
            <label class="checkbox-label">
                <input type="checkbox" name="promocions">
                Vull rebre ofertes i promocions per correu electrònic.
            </label>
            <button type="submit" class="cta-button">Registra't</button>
        </form>
        <p>Ja tens un compte? <a href="/login/">Inicia sessió</a></p>
    </section>
{% endblock %}