<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - VAC PRO</title>
    <link rel="stylesheet" href="/static/assets/css/main.css">
</head>
<body>
<header>
    <nav class="navbar">
        <ul class="nav-links">
            <li><a href="/">Inici</a></li>
            <li><a href="/serveis/">Serveis</a></li>
            <li><a href="/contacte/">Contacte</a></li>


            {% if user %}
                <li><a href="/dashboard/">Dashboard</a></li>
                <li><a href="/dashboard/devices/register">Registrar Dispositiu</a></li>
                <li><a href="/dashboard/devices/data">Dades de Dispositius</a></li>
                <li><a href="/dashboard/devices/map">Mapa de Dispositius</a></li>
                <li><a href="/logout/">Tancar Sessió</a></li>
            {% else %}
                <li><a href="/login/">Inici de Sessió</a></li>
                <li><a href="/signup/">Registre</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
<main>
    {% block content %}
    {% endblock %}
</main>
</body>
</html>
